*{
  padding : 0px;
  margin : 0px;
  background-color:white;
}

.main-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading{
  padding : 50px;
  font-family: sans-serif;
}

.main-segment{
  width : 100px;
  height : 75px;
  text-align: center;
}
.children-segment{
  border: 1px solid red;
}
.card-containers{
  display: grid;
  gap : 1 rem;
  grid-template-columns: repeat(auto-fit, minmax(340px,1fr));
}
.card{
  margin:20px;
}
.add-btn{
  margin : 5px;
}